/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body  {
    font-family: "Montserrat";
}

a   {
    text-decoration: none;
}

/* style main */
.main   {
    height: calc(100vh - 80px);
    display: flex;
}

/* player style */
.player {
    height: 80px;
    background-color: #282828;
}

/* style sidebar */
.sidebar_mv {
    display: none;
}

.sidebar    {
    background-color: #000000;
    width: 200px;
    color: #A3A3A3;
    height: 100%;
    padding: 10px;
   
}

.sidebar_container  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* logo style */
.logo img   {
    width: 100%;

}

/* nav style */
.nav    {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav a  {
    color:#A3A3A3;
}

.nav i  {
    margin-right: 5px;
}

#play   {
    font-weight: bold;
}

.create_playlist    {
    margin-top: 5px;
}

.name_playlist  {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

/* profile style */
.profile    {
    width: 100%;
    
    padding-bottom: 10px;
    padding-top: 5px;
}

.sidebar_container_bottom hr {
    margin-right: 10px;
    color: #A3A3A3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_name   {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user_img   {
    width: 15%;
}

.user_img {
    width: 25px;
    height: 25px;
    background-color: #A3A3A3; border-radius: 50%;
    padding: 2px;
}

.user_img img   {
    border-radius: 50%;
}

.user_img span  {
    font-weight: bold;
}

/* music style */
.music  {
    width: calc(100% - 200px);
    background-color: #141922;
    font-size: 13px;
}

/* upgrade section */
.upgrade    {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* opacity background */
.upgrade::before {
    content: "";
    background-color:#282828;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
  }

.upgrade_button {
    height: 70%;
    width: fit-content;
    border: 2px solid white;
    border-radius: 25px;
    padding: 5px 30px;
    margin-right: 3px;
}

.upgrade a   {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sound  {
    padding-top: 50px;
    padding-left: 10px;
    overflow-y: auto;
    background-color: #141922;
    height: 100%;
}

.suggestions    {
    padding: 10px;
}

.suggestions_container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.suggestions_container a    {
    text-decoration: none;
    color: #A3A3A3;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* recently played section style */
.recently_played    {
    margin-bottom: 30px;
}


.section_title {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.section_title span {
    color: #A3A3A3;
}

.recently_played_music  {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.card   {
    width: calc(100% / 6 - 10px);
    text-align: center;
}

.card img   {
    width: 100%;
}

.name_song    {
    font-weight: bold;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.author   {
    color: #A3A3A3;
}

/* create for you section style */
.create {
    margin-bottom: 30px;
}

.create_playlist    {
    display: flex;
    gap: 10px;
}

/* popular artsit section style */
.popular_artist {
    margin-bottom: 30px;
}

.popular_music  {
    display: flex;
    gap: 10px;
}

.popular_artist img    {
    border-radius: 50%;
}

/* player section style */
.player {
    display: flex;
}

/* player left section style */
.song   {
    width: 200px;
    padding: 20px 5px 20px 5px;
    background-color: #282828;
    display: flex;
    align-items: center;
    gap: 10px;
}

.played_cover   {
    width: 30%;
}

.played_cover   img {
    width: 100%;
}

#sinister   {
    color: white;
    font-weight: bold;
}

#brano_nome {
    color: #A3A3A3;
}

.song_right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* central part */
.action {
    background-color: #282828;
    height: 100%;
    width: calc(100% - 400px);
    padding: 10px;
    /* debug */
    background-color: rgb(11, 84, 84);
}

.action_top {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.action_top i   {
    margin-right: 10px;
}

.action_bottom  {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.track_container    {
    color: white;
}

.track_container span   {
    font-size: 80%;
}

.track {
    width: 80%;
}

input[type="range"] {
    /* Cambia il colore della barra di avanzamento */
    accent-color: white;
    height: 5px;
  }
  

/* right part */
.volume {
    background-color: #282828;
    padding: 20px 5px 20px 5px;
    height: 100%;
    width: 200px;
}

.volume_container   {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.audio_icon {
    width: 50%;
    text-align: center;
}

.audio_icon i   {
    margin-left: 3px;
}

.slide_volume_container {
    width: 50%;
}

.slider_volume  {
    width: 100%;
}

/*************************************
                MD VERSION
*************************************/
@media all and (max-width: 878px)   {

    /* recently palyed section */
    .card   {
    width: calc(25% - 10px);
    }

}

/************************************
                S VERSION
*************************************/
@media all and (max-width: 639px)   {

    /* recently palyed section */
    .card   {
    width: calc(50% - 10px);
    }

}

/*************************************
            XS VERSION
 ************************************/
@media all and (max-width: 580px)   {

    /* sound section */
    .upgrade    {
        left: 50px;
        width: calc(100% - 50px);
    }

    /* sidebar */
   .sidebar {
        display: none;
   }

   .sidebar_mv  {
    display: block;
    background-color: #000000;
    width: 50px;
    color: #A3A3A3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   .music   {
    width: calc(100% - 50px);
   }

   .sidebar_mv_top  {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
   }

   .sidebar_mv_top img  {
    padding-bottom: 8px;
   }

   .sidebar_mv_bottom   {
    padding-left: 10px;
    padding-right: 10px;
   }

   .sidebar_mv_bottom img    {
        width: 100%;
   }

   #profile {
    background-color: #A3A3A3;
    border-radius: 50%;
   }

   /* player bar */
   .song    {
    width: 130px;
    padding: 5px;
    font-size: 10px;
   }

   .action  {
    width: calc(100% - 260px);
   }

   .volume  {
    width: 130px;
   }

   .played_cover    {
    width:80%;
}


}