/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body  {
    font-family: "Montserrat";
}

/* style main */
.main   {
    height: calc(100vh - 80px);
    display: flex;
}

/* player style */
.player {
    height: 80px;
    background-color: #282828;
}

/* style sidebar */
.sidebar    {
    background-color: #000000;
    width: 200px;
    color: #A3A3A3;
    height: 100%;
    padding: 10px;
}

.sidebar_container  {
    position: relative;
    height: 100%;
    /* debug */
    border: 2px solid green;
}

.sidebar_container_top  {
    height: calc(100% - 100px);
    /* debug */
    /* background-color: aquamarine; */
    border: 2px solid rgb(255, 5, 255);
}

/* logo style */
.logo   {
    height: 60px;
    /* debug */
    background-color: red;
}

.logo img   {
    width: 100%;
    height: 100%;
    /* debug */
}

/* nav style */
.nav    {
    height: 80px;
    /* padding-top: 20px;
    padding-bottom: 20px;
    line-height: 35px; */
    /* debug */
    background-color: blue;
}

.nav i  {
    margin-right: 5px;
}

.playlist_top   {
    height: 40px;
    /* debug */
    background-color: aqua;
}

/* playlist style */
#play   {
    font-weight: bold;
}

.name_playlist  {
    height: calc(100% - 160px);
    /* line-height: 30px; */
    overflow-y: auto;
    /* debug */
    border: 3px solid yellow;
}

/* create_playlist style */
.create_playlist    {
    /* margin-top: 10px;
    margin-bottom: 15px; */
}

.sidebar_container_bottom   {
    height: 100px;
    /* debug */
    border: 2px solid goldenrod;
}

/* profile style */
.profile    {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    background-color: pink;
    /* background-color: purple; */
    /* margin: auto 0 auto 10px; */
    padding-bottom: 10px;
    padding-top: 5px;
}

.profile hr {
    margin-right: 10px;
    color: #A3A3A3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_name   {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* user img style */
.user_img   {
    height: 30px;
    width: 30px;
    background-color: #282828;
    border-radius: 50%;
}

.user_img span  {
    font-weight: bold;
}

/* music style */
.music  {
    flex-grow: 1;
    background-color: #141922;
}

/* upgrade section */
.upgrade    {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    height: 50px;
    /* debug */
    background-color: orange;
}

/* player section style */
.player {
    display: flex;
}

/* player left section style */
.song   {
    width: 200px;
    padding: 20px 5px 20px 5px;
}

.song_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.song_left  {
    display: flex;
}

.played_cover   img {
    width: 100%;
    height: 100%;
}

.played_name    {
    padding: 5px;
}

#sinister   {
    color: white;
    font-weight: bold;
}

#brano_nome {
    color: #A3A3A3;
}

.song_right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* central part */
.action {
    height: 100%;
    width: calc(100% - 400px);
    padding: 5px;
}

.action_container   {
    height: 100%;
    width: 100%;
    padding-top: 5px;    
}

.action_top {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.action_top i   {
    margin-right: 10px;
}

.action_bottom  {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.track {
    width: 90%;
}

/* right part */
.volume {
    padding: 20px 5px 20px 5px;
    height: 100%;
    width: 200px;
}

.volume_container   {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.audio_icon {
    width: 50%;
    text-align: center;
}

.audio_icon i   {
    margin-left: 3px;
}

.slide_volume_container {
    width: 50%;
}

.slider_volume  {
    width: 100%;
}

/*************************************
            MOBILE VERSION 
 ************************************/
@media all and (max-width: 580px)   {

   .sidebar {
        display: none;
   }

   .sidebar_mv  {
    background-color: #000000;
    width: 50px;
    color: #A3A3A3;
    position: relative;
    /* debug */
    border: 3px solid yellow;
   }

   .sidebar_mv_top  {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* debug */
    background-color: green;
   }

   .sidebar_mv_top img  {
    padding-bottom: 8px;
   }

   .sidebar_mv_bottom   {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    /* debug */
    width: 100%;
    border: 3px solid red;
   }

   /* player bar */
   .song    {
    width: 130px;
    padding: 5px;
    font-size: 10px;
   }

   .action  {
    width: calc(100% - 260px);
   }

   .volume  {
    width: 130px;
   }

   .played_cover    {
    width:80%;
}


}