/* reset rules */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body  {
    font-family: "Montserrat";
}

/* style main */
.main   {
    height: calc(100vh - 80px);
    display: flex;
}

/* player style */
.player {
    height: 80px;
    background-color: #282828;
}

/* style sidebar */
.sidebar    {
    background-color: #000000;
    width: 200px;
}

/* music style */
.music  {
    flex-grow: 1;
    background-color: #141922;
}

/* logo style */
.logo   {
    /* debug */
    background-color: red;
    height: 5%;
    margin-top: 10px;
    margin-left: 10px;
}

/* nav style */
.nav    {
    /* debug */
    background-color: blue;
    height: 10%;
    margin-left: 10px;
}

/* playlist style */
.playlist   {
    /* debug */
    background-color: green;
    height: 75%;
    margin-left: 10px;
}

/* profile style */
.profile    {
    /* debug */
    background-color: plum;
    height: 10%;
    margin-left: 10px;
}